<div class="row justify-content-center">

  <div class="col-12 text-center pt-5">
    <h1>Mohamed mehdi hanini 4TWIN7</h1>
  </div>

  <div class="row col-12 p-5">

    <button routerLink="atelier3" style="height: 100px; color: white;" class="btn btn-danger col-5 mt-5">ATELIER 3 ROUTING</button>


  </div>
  <div class="row col-12 p-5">
  <button routerLink="atelier2" style="height: 100px; color: white;" class="btn btn-danger col-5 mt-5">ATELIER 6 </button>
  </div>
  <div class="row col-13 p-5">
  <button routerLink="users" style="height: 100px; color: white;" class="btn btn-danger col-5 mt-5">Workshop </button>
  </div>
</div>
